.header {
	width: 100%;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}

.header .container {
	display: flex;
	width: 1170px;
	margin: 0 auto;
	height: 65px;
	align-items: center;
}

.login-navigation {
	display: flex;
}

.login-navigation a {
	text-decoration: none;
	display: block;
	padding: 6px 20px;
	border-radius: 30px;
	border: 1.5px solid #0059DE;
	font-size: 13.5px;
	margin-right: 12px;
	color: #0059DE;
	transition: 300ms all ease-in-out;
}

.login-navigation a:hover {
	background-color: #0059DE;
	color: #fff;
}

.login-navigation a.filled {
	background-color: #0059DE;
	color: #fff;
}

.login-navigation a:last-child {
	margin-right: 0;
}

.button {
	text-decoration: none;
	display: block;
	padding: 6px 20px;
	border-radius: 30px;
	border: 1.5px solid #0059DE;
	font-size: 13.5px;
	margin-right: 12px;
	color: #0059DE;
	transition: 300ms all ease-in-out;
	cursor: pointer;
}

.button:hover {
	background-color: #0059DE;
	color: #fff;
}



.logged-in-details {
	display: flex;
	align-items: center;
}