.box {
	border-top: 4px solid #0059DE;
	padding: 20px;
	width: 360px;
	margin: 0 auto;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
	border-radius: 4px;
	margin-top: 60px;
	background: #fff;
}

label {
	display: block;
	font-size: 14px;
	margin-bottom: 6px;
	color: #525252;
}

.form-group span {
	font-size: 13px;
	display: block;
	margin-bottom: 10px;
	color: #cf000f;
}

input {
	display: block;
	width: 330px;
	padding: 8px 10px;
	background-color: #f6f6f6;
	border: 1px solid #f6f6f6;
	border-radius: 4px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
	font-size: 14px;
	margin-bottom: 12px;
}

button {
	text-decoration: none;
	display: block;
	padding: 6px 20px;
	border-radius: 4px;
	border: 1.5px solid #0059DE;
	font-size: 13.5px;
	font-weight: 500;
	margin-right: 12px;
	color: #0059DE;
	background: #fff;
	transition: 300ms all ease-in-out;
	cursor: pointer;
}

button:hover {
	background-color: #0059DE;
	color: #fff;
}

span.error {
	display: block;
	font-size: 14px;
	color: #cf000f;
	margin-bottom: 12px;
}

button.filled {
	background-color: #0059DE;
	color: #fff;
}