.card {
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
    margin: 24px 0;
}

.card-title {
    font-size: 15px;
    font-weight: medium;
    padding: 12px 14px;
    background: #F2F2F2;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card-body {
    padding: 20px 14px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #FFF;
}

.outline-card {
    display: block;
    background: #FFF;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 30px 40px;
}

.special-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    margin-bottom: 12px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .2);
    border: 1px solid #eee;
    border-radius: 2.5px;
}