// *** Header Custom Style *** //
header .logo img {
    width: 35%;
}

// *** Login Custom Style *** //
.login {
	position: fixed;
  	top: 38%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.login #logo {
	width: 35%;
	display: block;
	margin: 0 auto;
	margin-bottom: 35px;
}

.login strong {
	text-align: center;
}

/* *** Timer *** */
.timer {
	position: relative;
	display: flex;
	align-items: center;
	padding: 8px;
	border-radius: 3px;
	border: 1px solid #f2f2f2;
	background: #fff;
	//flex-flow: row-reverse;

	.time, .project, .time-controls {
		flex: 1;
	}

	.push {
		margin-left: auto;
	}
}

.timer .time, .timer .project {
	label, span {
		display: block;
	}

	label {
		font-size: 13px;
		font-weight: 500;
		text-transform: uppercase;
		margin-bottom: 6px;
		color: #0059DE;
	}

	span {
		font-size: 16px;
	}
}

.helper {
	position: absolute;
	right: 0;
	top: -150px;
	background: #FFF;
	width: 320px;
	padding: 0 10px;
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
}

/* *** Window Timer *** */
.window-timer {
	&-container {
		width: 480px;
		margin: 0 auto;
	}
}

/* *** Modal *** */
.modal {
	display: block;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background-color: rgba(0, 0, 0, .4);
}

.modal-content {
	background-color: #fff;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 5px;
	width: 50%;
	z-index: 999;
}

/* *** Project Card *** */
.project-card input {
	margin-bottom: 12px;
}

/* *** Each Client *** */
.each-client {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
	background: #fff;
	display: block;
	padding: 12px;
	margin-bottom: 18px;
}

/* *** Table Design *** */
.table {
	width: 100%;
	border-collapse: collapse;
	font-family: 'Inter UI';
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
}

.table input {
	width: 100%;
}

.table th {
	padding: 15px 12px;
	background: #f1f1f2;
	font-size: 14px;
	font-weight: 500;
}

.table td {
	padding: 18px 12px;
	background: #fcfcfc;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
}

.table td.control {
	width: 15%;
}

.table tr:nth-child(even) {background-color: #f2f2f2 !important;}

.error {
	padding: 10px;
	text-align: center;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
}

.table button { float: right; height: 26px; }


.table th {
	text-align: left;
}

@media (max-width: 900px) {
	// In Prgoress
}