$normal: #0059DE;
$success: #2ECC71;
$warning: #F7CA18;
$danger: #CF000F;

.form-group, .form-label, .form-input, strong {
	display: block;
}

.form-group {
	margin: 14px 0;
	&:first-child {	margin-top: 0; }
}

.form-label {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bolder;
	color: rgb(66, 90, 112);
	margin: 0 0 6px 0;
}

.form-input {
	width: 290px;
	height: 38px;
	font-size: 14px;
	padding: 0 12px;
	border: 1px solid #c9c9c9;
	color: rgb(66, 90, 112);
	border-radius: 3px;
	box-shadow: 0px 0px 0px rgba(67, 90, 111, 0.3);
  	writing-mode: horizontal-tb;
  
  &:focus {
    z-index: 2;
    box-shadow: rgba(67, 90, 111, 0.14) 0px 0px 2px inset, rgb(87, 154, 217) 0px 0px 0px 1px inset, rgba(16, 112, 202, 0.14) 0px 0px 0px 3px;  
  }
}

strong {
	font-size: 14px;
	font-weight: 400;
	margin: 0 0 20px 0;
}

.form-group strong {
	margin-top: 8px;
}

strong.filled {
	padding: 10px 12px;
	border-radius: 3px;
}

strong.danger { color: $danger; }

strong.warning { color: $warning; }

strong.success { color: $success; }

strong.success.filled {
	background: #DBFFEA;
}

.alert-fade-enter-active, .alert-fade-leave-active {
    transition: all .1s ease-in-out;
}

.alert-fade-enter, .alert-fade-leave-to {
    opacity: 0;
}