ul.menu {
    width: 100%;
    display: flex;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);

    .menu-container {
        // To be fixed
        margin: 0 333px;
    }
}

ul.menu li {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    color: #232323;
    padding: 0 22px;
    height: 38px;
    cursor: pointer;

    &.active {
        border-bottom: 2px solid #0059DE;
    }
}

header.menu {
    width: 100%;
    padding: 6px 0;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);

    .menu-container {
        display: flex;
        align-items: center;
        width: 1170px;
        height: 50px;
        max-width: 94%;
        margin: 0 auto;
    }

    a.full-size {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    a.full-size, button.full-size {
        height: 50px;
        &.darker { background: #00337f; }
    }
}

header.menu-with-navbar {
    .menu-container {
        display: flex;
        justify-content: space-between;
    }

    .menu {
        display: inline-flex;
        li {
            display: inline-flex;
            align-items: center;
            font-size: 15px;
            color: #232323;
            padding: 0 22px;
            height: 50px;
            cursor: pointer;
        
            &.active {
                border-bottom: 2px solid #0059DE;
            }   
        }
    }
}

.dropdown {
    position: relative;
    .dropdown-title {
        display: inline-flex;
        align-items: center;
        img { margin-left: 12px; }
    }
    .dropdown-links {
        position: absolute;
        top: 30px;
        right: 0;
        background: #fff;
        padding: 5px 0;
        width: 165px;
        border: 1px solid #F2F2F2;
        border-radius: 3px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);

        li {
            padding: 5px 0;
            a {
                text-decoration: none;
                font-size: 15px;
                padding: 0 10px;
                color: #0059DE;
            }
            &:hover { background: #f1f1f2; }
        }
    }
}

.dropdown-fade-enter-active, .dropdown-fade-leave-active {
    transition: all .1s ease-in-out;
}

.dropdown-fade-enter, .dropdown-fade-leave-to {
    opacity: 0;
    transform: translateY(-12px);
}