/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

* {
	margin: 0; 
	padding: 0;
	border: none;
	outline: none;
	font-size: 1em;
}

body {
	font-family: "Roboto", sans-serif;
	background: #fcfcfc;
}

.container {
	width: 1170px;
	margin: 0 auto;
}